body {
    text-align: center;
    font-family: cursive;
    
}
#Welcome {
    background-image: linear-gradient(to bottom right, pink, rgb(115, 255, 236));
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img {
border-radius: 120px;
box-shadow: 10px 10px 5px grey;
}
#bio {
background-color: aqua;
font-family: cursive;
}
#bio2 {
    background-color: lightskyblue;
    font-family: cursive;

}
.img {
    width: 300px;
    height: 300px;
}

#img {
    background-color: cyan;
}
.list {
    float: left;
     padding-top:10px ;
     padding-bottom: 10px;
     padding-left: 9px;
     padding-right: 9px;
     font-size: 20px;
}
.list:hover {
    border-width: 1px;
    border-color: rgb(10, 10, 10);
    border-style: dotted;
    
}
.menu {
    list-style: none;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 30px;
    color: red;
    cursor: -webkit-grab; cursor: grab;
}
.menusecion {
    background-color: rgb(255, 109, 109);
}
